<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ProcessTopCompanions</servlet-name>
        <servlet-class>sloca.controller.ProcessTopCompanions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>sloca.controller.FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateUser</servlet-name>
        <servlet-class>sloca.controller.ValidateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessFile</servlet-name>
        <servlet-class>sloca.controller.ProcessFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeatMapServlet</servlet-name>
        <servlet-class>sloca.controller.HeatMapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeatMapServlet</servlet-name>
        <servlet-class>sloca.controller.HeatMapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeatMapController</servlet-name>
        <servlet-class>sloca.controller.HeatMapController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessBreakdownServlet</servlet-name>
        <servlet-class>sloca.controller.ProcessBreakdownServlet</servlet-class>
    </servlet>
    <!--    <servlet>
		<servlet-name>ProcessPopularPlaces</servlet-name>
		<servlet-class>sloca.controller.ProcessPopularPlaces</servlet-class>
	</servlet>-->
    <servlet>
        <servlet-name>ProcessTopNextPlaces</servlet-name>
        <servlet-class>sloca.controller.ProcessTopNextPlaces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>heatmap</servlet-name>
        <servlet-class>sloca.json.heatmap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessGroupIdentification</servlet-name>
        <servlet-class>sloca.controller.ProcessGroupIdentification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bootstrap</servlet-name>
        <servlet-class>sloca.json.bootstrap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authenticate</servlet-name>
        <servlet-class>sloca.json.authenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>sloca.json.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>topkpopplaces</servlet-name>
        <servlet-class>sloca.json.topkpopplaces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>topkcompanions</servlet-name>
        <servlet-class>sloca.json.topkcompanions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>topknextplaces</servlet-name>
        <servlet-class>sloca.json.topknextplaces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autogroupdetect</servlet-name>
        <servlet-class>sloca.json.autogroupdetect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>topkGrpPopPlaces</servlet-name>
        <servlet-class>sloca.json.topkGrpPopPlaces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>topkNextPlacesGrps</servlet-name>
        <servlet-class>sloca.json.topkNextPlacesGrps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>breakdown</servlet-name>
        <servlet-class>sloca.json.breakdown</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fileUpdate</servlet-name>
        <servlet-class>sloca.controller.fileUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>sloca.json.update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupProcessPopularPlaces</servlet-name>
        <servlet-class>sloca.controller.GroupProcessPopularPlaces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupProcessTopNextPlaces</servlet-name>
        <servlet-class>sloca.controller.GroupProcessTopNextPlaces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <jsp-file>/adminDisplay.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/FileUpload.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeatMapServlet</servlet-name>
        <url-pattern>/HeatMapServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>sloca.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>heatmapDisplay</servlet-name>
        <servlet-class>sloca.json.heatmapDisplay</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessTopCompanions</servlet-name>
        <url-pattern>/processTopCompanions.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateUser</servlet-name>
        <url-pattern>/ValidateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeatMapController</servlet-name>
        <url-pattern>/HeatMapController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessBreakdownServlet</servlet-name>
        <url-pattern>/processBreakdownServlet.do</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
		<servlet-name>ProcessPopularPlaces</servlet-name>
		<url-pattern>/processPopularPlaces</url-pattern>
	</servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>ProcessTopNextPlaces</servlet-name>
        <url-pattern>/ProcessTopNextPlaces.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>heatmap</servlet-name>
        <url-pattern>/json/heatmap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessGroupIdentification</servlet-name>
        <url-pattern>/ProcessGroupIdentification.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bootstrap</servlet-name>
        <url-pattern>/json/bootstrap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authenticate</servlet-name>
        <url-pattern>/json/authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/json/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>topkpopplaces</servlet-name>
        <url-pattern>/json/top-k-popular-places</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>topkcompanions</servlet-name>
        <url-pattern>/json/top-k-companions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>topknextplaces</servlet-name>
        <url-pattern>/json/top-k-next-places</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autogroupdetect</servlet-name>
        <url-pattern>/json/group_detect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>topkGrpPopPlaces</servlet-name>
        <url-pattern>/json/top-k-group-popular-places</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>topkNextPlacesGrps</servlet-name>
        <url-pattern>/json/top-k-group-next-places</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>breakdown</servlet-name>
        <url-pattern>/json/basic-loc-report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fileUpdate</servlet-name>
        <url-pattern>/fileUpdate.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/json/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupProcessPopularPlaces</servlet-name>
        <url-pattern>/GroupProcessPopularPlaces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupProcessTopNextPlaces</servlet-name>
        <url-pattern>/GroupProcessTopNextPlaces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>heatmapDisplay</servlet-name>
        <url-pattern>/json/heatmapDisplay</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
